<!-- /snippets/collection-sidebar.liquid -->
{% comment %}

  Side navigation for the product types, vendors, and tags.
  These can be based on the current collection or all products. Details in comments below.

  Note: Clicking on a tag will filter the products within the current collection.
  Clicking on a type or vendor link will take you out of the current collection
  to a standalone collection page. E.g. /collections/vendors?q=Pepsi

{% endcomment %}

{% comment %}
  Product tags in the current collection
{% endcomment %}
{% if collection.all_tags.size > 0 %}

  <h3>Size</h3>

  <hr>

  {% comment %}
    To provide a 'catch-all' link at the top of the list,
    check against the collection.handle, product type, and vendor.
  {% endcomment %}
  <ul class="no-bullets tags">

    {% comment %}
      And for the good stuff, loop through the tags themselves.
    {% endcomment %}


        <li><a class="shaun" href="{{ collection.url }}/missy">Missy</a></li>
        <li><a href="{{ collection.url }}/plus-size">Plus Size</a></li>


  </ul>

  <br/>

  <h3>Shop Other Schools</h3>

  <hr>

  <ul class="no-bullets">
    {% for collection in collections %}
      {% if collection.title != 'View Only' %}
        <li class="{{ collection.handle }}"><a href="{{ collection.url }}">{{ collection.title }}</a></li>
      {% endif %}
    {% endfor %}
  </ul>

{% endif %}
